* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: darkgray;
}

.header {
  padding: 33px;
  text-align: center;
  background: black;
  color: rgb(223, 8, 8);
  border-radius: 20px;
  width: auto;
}

.header h1 {
  font-size: 100px;
  width: auto;
  font-family: Arial, Helvetica;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  border-radius: 20px;
}

.topnav a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.leftcolumn {
  float: right;
  width: 73%;
  padding: 1px;
  border-radius: 20px;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: darkgray;
  padding-left: 40px;
  border-radius: 20px;
}
.logo {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  float: right;
  margin-left: 20px;
  width: 14%;
  margin-bottom: 10px;
  margin-top: -270px;
  margin-right: 50px;
}
.card {
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  margin-left: -20px;
}
.img {
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  justify-content: center;
  border-radius: 20px;
  width: 80%;
  margin-left: -20px;
}
.tip {
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  margin-left: -20px;
  text-align: center;
}
ul {
  list-style: solid circle;
  text-align: left;
  margin-left: -50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
footer {
  display: flex;
  align-items: flex-end;
  background-color: white;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  justify-content: space-between;
  border-spacing: 0;
  width: 100%;
  margin-left: -1px;
  font-family: "Times New Roman", Times, serif;
}
th,
td {
  text-align: left;
  padding: 16px;
  width: 100%;
  width: auto;
}

tr:nth-child(even) {
  background-color: rgba(211, 211, 211, 0.267);
  width: 100%;
  width: auto;
}
h1,
h5 {
  color: red;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
.next {
  font-size: larger;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  background-color: rgba(29, 27, 27, 0.295);
}
