* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: darkgray;
}

.header {
  padding: 33px;
  text-align: center;
  background: black;
  color: rgb(223, 8, 8);
  border-radius: 20px;
}

.header h1 {
  font-size: 100px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  border-radius: 20px;
}

.topnav a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.leftcolumn {
  float: left;
  width: 75%;
  padding: 10px;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: darkgray;
  padding-left: 40px;
  border-radius: 20px;
}
.logo {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  float: right;
  margin-left: 20px;
  width: 14%;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
  border-radius: 20px;
  justify-content: space-around;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
#Contact {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px 14px;
  text-align: center;
}
ul {
  list-style: none;
  text-align: center;
}
li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  display: flex;
  align-items: flex-end;
  background-color: white;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}