* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: darkgray;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 25% 25% 25% 25%;
}

header {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/2;
  padding: 1%;
  background: black;
  color: rgb(223, 8, 8);
  border-radius: 20px;
  font-size: 80px;
  font-family: Arial, Helvetica;
}

h1 {
  grid-column: 1/5;
  grid-row: 1/1;
  padding: 33px;
  display: flex;
  color: rgb(223, 8, 8);
  border-radius: 20px;
  font-size: 80px;
  justify-content: center;
  font-family: Arial, Helvetica;
  width: 100%;
}

nav {
  display: grid;
  grid-column: 1/5;
  grid-row: 3/3;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
}
.topnav a {
  display: grid;
  grid-column: 1/5;
  grid-row: 2/3;
  float: left;
  font-size: x-large;
  display: block;
  justify-content: space-between;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  border-radius: 20px;
}
.topnav a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.leftcolumn {
  float: left;
  width: 75%;
  padding: 10px;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: darkgray;
  padding-left: 40px;
  border-radius: 20px;
}
.logo {
  display: grid;
  grid-column: 4/4;
  grid-row: 1/1;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5%;
  border-radius: 50px;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-right: 5;
  margin-left: -10%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.card1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  align-content: center;
  padding: 50px;
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-radius: 60px;
  justify-content: space-around;
  text-align: center;
  margin-top: 20%;
  margin-left: 30%;
}

.card2 {
  display: grid;
  grid-column: 2/3;
  grid-row: 4/4;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  align-content: center;
  padding: 50px;
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-radius: 60px;
  justify-content: space-around;
  text-align: center;
  margin-left: 50%;
}

.card3 {
  display: grid;
  grid-column: 3/4;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  align-content: center;
  padding: 50px;
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-radius: 60px;
  justify-content: space-around;
  text-align: center;
  margin-top: 20%;
  margin-left: 70%;
}

.card1:hover,
.card2:hover,
.card3:hover {
  box-shadow: 0 8px 16px 0 black;
}

.a {
  width: auto;
  justify-content: center;
}

footer {
  grid-column: 1/5;
  grid-row: 5/5;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: flex-end;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
