* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: darkgray;
}

.header {
  padding: 30px;
  text-align: center;
  background: black;
  color: rgb(223, 8, 8);
}

.header h1 {
  font-size: 100px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: darkgray;
  padding-left: 30px;
  border-radius: 10px;
}
.logo {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  float: left;
  width: 14%;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 5px;
  justify-content: center;
  border-radius: 10px;
  height: 80%;
  justify-content: space-around;
}
li {
  list-style: square;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
footer {
  display: flex;
  align-items: flex-end;
  background-color: white;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  padding: 1%;
  margin-top: 20px;
  border-radius: 1px;
}
