* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: darkgray;
}
header {
  display: grid;
  grid-column: 1/5;
  grid-row: 1/2;
  padding: 1%;
  background: black;
  color: rgb(223, 8, 8);
  border-radius: 20px;
  font-size: 80px;
  font-family: Arial, Helvetica;
}

nav {
  display: grid;
  grid-column: 1/5;
  grid-row: 3/3;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
}
.topnav a {
  display: grid;
  grid-column: 1/5;
  grid-row: 2/3;
  float: left;
  font-size: x-large;
  display: block;
  justify-content: space-between;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  border-radius: 20px;
}
h1 {
  grid-column: 1/5;
  grid-row: 1/1;
  padding: 33px;
  display: flex;
  color: rgb(223, 8, 8);
  border-radius: 20px;
  font-size: 80px;
  justify-content: center;
  font-family: Arial, Helvetica;
  width: 100%;
  margin-left: 50%;
}

.topnav a:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.logo {
  display: grid;
  grid-column: 4/4;
  grid-row: 1/1;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5%;
  border-radius: 50px;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-right: 5;
  margin-left: -10%;
}
.rightcolumn {
  display: grid;
  grid-column: 1/1;
  grid-row: 2/2;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  margin-top: 8%;
  margin-right: 5%;
  height: 60%;
}
.leftcolumn {
  display: grid;
  grid-column: 2/5;
  grid-row: 2/2;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  margin-top: 3%;
}
.leftcolumn1 {
  display: grid;
  grid-column: 1/5;
  grid-row: 3/3;
  background-color: gold;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn2 {
  display: grid;
  grid-column: 1/5;
  grid-row: 4/4;
  background-color: silver;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn3 {
  display: grid;
  grid-column: 1/5;
  grid-row: 5/5;
  background-color: rgb(180, 132, 78);
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn4 {
  display: grid;
  grid-column: 1/5;
  grid-row: 6/6;
  background-color: lightyellow;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn5 {
  display: grid;
  grid-column: 1/5;
  grid-row: 7/7;
  background-color: lightgray;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}

.leftcolumn6 {
  display: grid;
  grid-column: 1/5;
  grid-row: 3/3;
  background-color: grey;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn7 {
  display: grid;
  grid-column: 1/5;
  grid-row: 4/4;
  background-color: grey;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn8 {
  display: grid;
  grid-column: 1/5;
  grid-row: 5/5;
  background-color: grey;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn9 {
  display: grid;
  grid-column: 1/5;
  grid-row: 6/6;
  background-color: grey;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
.leftcolumn10 {
  display: grid;
  grid-column: 1/5;
  grid-row: 7/7;
  background-color: grey;
  padding: 50px;
  border-radius: 20px;
  margin-top: 10%;
}
h2 {
  font-size: 50px;
  color: red;
}
h3 {
  display: flex;
  font-size: 30px;
  justify-content: center;
}
footer {
  grid-column: 1/5;
  grid-row: 5/5;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: flex-end;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}

ul {
  list-style: solid circle;
  text-align: left;
  margin-left: -50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 400px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

h5 {
  color: red;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}

.leftcolumn0 {
  display: grid;
  grid-row: 4/4;
  grid-column: 3/4;
  margin-bottom: 10%;
}
.next {
  font-size: larger;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.9rem;
  background-color: rgb(92, 92, 92);
  width: auto;
  padding: 20px;
  border-radius: 10px;
}
